<div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
            <th>Unselected players</th>
            <th>Selected players</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="playerselection in players">
          <td><div ng-hide="playerselection.selected">
            {{playerselection.player.Name}}
            <button ng-click="vm.selectPlayer(playerselection.player.Id)" type="button" class="btn btn-primary right btn-custom">Select</button>
          </div></td>
          <td><div ng-show="playerselection.selected">
            <button ng-click="vm.unSelectPlayer(playerselection.player.Id)" type="button" class="btn btn-danger left btn-custom">Unselect</button>
            &nbsp {{playerselection.player.Name}}
          </div></td>
        </tr>
        <tr>
          <td>
            <button ng-click="vm.selectAllPlayers()" type="button" class="btn btn-primary left btn-custom" ng-show="vm.existAtLeast(false)">Select all</button>
          </td>
          <td>
            <button ng-click="vm.unSelectAllPlayers()" type="button" class="btn btn-danger right btn-custom" ng-show="vm.existAtLeast(true)">Unselect all</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
