<table>
    <label>Country</label>
    <countryselect selectedcountry="vm.season.CountryId"></countryselect>
    <ul class="error">
        <li ng-repeat="value in vm.errors['item.CountryId']">{{value}}</li>
    </ul>

    <label>Name </label>
    <input type="text" ng-model="vm.season.Name" class="form-control"
       placeholder="Season name"
       tooltip="Enter the name of the season"
       tooltip-placement="top"
       tooltip-trigger="mouseenter"
       tooltip-enable="!vm.season.Name"
       required/>
    <ul class="error">
        <li ng-repeat="value in vm.errors['item.Name']">{{value}}</li>
    </ul>
</table>