#bs-example-navbar-collapse-1 {
  margin-top: 0;
}

#accordion > .panel {
  margin-top: 0;
}

a.accordion-title {
  text-decoration: none;
}

.league-thead {
  background-color: @dark-gray;
  color: white;
}