.chart{
  font: 10px sans-serif;
  margin: auto;
  width:100%;
  .axis path,
  .axis line {
    fill: none;
    fill-opacity: 50%;
    stroke: #000;
    shape-rendering: crispEdges;
  }


    .line {
    fill: aliceblue;
    fill-opacity: 50%;
    stroke: steelblue;
    stroke-width: 0.8px;
    }

    .line:hover {
    fill-opacity: 70%!important;
    }

    .seasonChart1 {
      fill: #FFEBEE!important;
      stroke: #FFCDD2!important;
    }

    .seasonChart2 {
        fill: #E0F2F1!important;
        stroke: #B2DFDB!important;
    }

    .seasonChart3 {
        fill: #F9FBE7!important;
        stroke: #F0F4C3!important;
    }

  .circle {
    fill: aliceblue;
    stroke: steelblue;
    stroke-width: 0.5px;
  }
  .circle:hover{
      fill: grey;
  }

}

.matchTooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 2px;
  border-radius: 8px;
  pointer-events: none;

}

.seasonTextTooltip {
  text-align: center;
  font: 12px sans-serif;
  text-anchor:middle;
}
