.inline-block {
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.wrapper {
    padding: 0 2.9em 0 2.9em;
}

.heading-font {
  font-family: @header-font;
}

.title {
    font-size: 39px;
}

.bold {
  font-weight: bold;
}

.alert-danger {
  color: #a94442 !important;
  background-color: #f2dede !important;
  border-color: #ebccd1 !important;

  span {
    font-size: 15px;
  }
}
