<label>Country</label>
<countryselect selectedcountry="vm.team.CountryId" required='true'></countryselect>
<label>Name</label>
<div class="clear"></div>
<div class="alert alert-danger" role="alert" ng-repeat="value in vm.errors['item.Name']">{{value}}</div>
<input type="text" ng-model="vm.team.Name"
   class="form-control"
   id="teamName"
   placeholder="Team Name"
   tooltip="Enter the name of the team"
   tooltip-placement="top"
   tooltip-trigger="mouseenter"
   tooltip-enable="!vm.team.Name"
   required/>
