<div ng-init="vm.loadSeasonTableViewList()" cg-busy="vm.loadingPromise">
  <div class="clear"></div>
  <div class="alert alert-danger" role="alert" ng-repeat="value in vm.errors['item.Global']">{{value}}</div>
  <div class="grid-view" ng-show="vm.teamPlayerStatisticViewModel">
    <table class="table">
        <tr>
          <td>
            <table width="100%" class="sub-table">
              <tr>
                <td width="50%"><span ng-show="vm.teamPlayerStatisticViewModel.lastPlayedMatch">Last Game in {{vm.teamPlayerStatisticViewModel.lastPlayedMatch.leagueName}}</span></td>
                <td width="50%"><span ng-show="vm.teamPlayerStatisticViewModel.nextMatch">Next Game in {{vm.teamPlayerStatisticViewModel.nextMatch.leagueName}}</span></td>
              </tr>
              <tr>
                <td><span ng-show="vm.teamPlayerStatisticViewModel.lastPlayedMatch">
                  {{vm.teamPlayerStatisticViewModel.lastPlayedMatch.homeTeam}} {{vm.teamPlayerStatisticViewModel.lastPlayedMatch.homeNbGoals}} -
              {{vm.teamPlayerStatisticViewModel.lastPlayedMatch.awayNbGoals}} {{vm.teamPlayerStatisticViewModel.lastPlayedMatch.awayTeam}}
                    </span>
              </td>
                <td><span ng-show="vm.teamPlayerStatisticViewModel.nextMatch">
                  {{vm.teamPlayerStatisticViewModel.nextMatch.homeTeam}} v {{vm.teamPlayerStatisticViewModel.nextMatch.awayTeam}}
                </span></td>
              </tr>
              <tr>
                <td><span ng-show="vm.teamPlayerStatisticViewModel.lastPlayedMatch">
                  {{vm.teamPlayerStatisticViewModel.lastPlayedMatch.dateMatch | date :'EEEE dd MMMM yyyy'}}
                </span>
                </td>
                <td><span ng-show="vm.teamPlayerStatisticViewModel.nextMatch">
                  {{vm.teamPlayerStatisticViewModel.nextMatch.dateMatch | date :'EEEE dd MMMM yyyy'}}
                </span></td>
              </tr>
            </table>
          </td>
        <tr>
        <tr>
          <td colspan="2">
            Average goals per match this season : {{vm.teamPlayerStatisticViewModel.nbAverageGoals}}<br>
            Number of win : {{vm.teamPlayerStatisticViewModel.nbWin}}<br>
            Number of draw : {{vm.teamPlayerStatisticViewModel.nbDraw}}<br>
            Number of loss : {{vm.teamPlayerStatisticViewModel.nbLoss}}<br>
            <teamplayerchartview seasonid="vm.scope.seasonid" teamplayerid="vm.scope.teamplayerid" show="vm.scope.show" parentcontext="currentelement.context"></teamplayerchartview>
          </td>
        </tr>
    </table>
  </div>
</div>
