<div class="gridview" ng-init="vm.showTeams()">
        <h2>Teams</h2>
        <a href="#/teams/add" class="btn btn-primary right">Add Team</a>
        <div class="clear"></div>
        <div class="alert alert-danger" role="alert" ng-repeat="value in vm.errors['item.Global']">{{value}}</div>
        <countryselect on-select="vm.onCountrySelected(country)"></countryselect><br>
        <table class="table table-striped table-bordered">
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Country</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="team in vm.teams">
                  <td><span tooltip="The world’s most successful club" ng-show="team.Name=='Rangers'">{{team.Name}}</span>
                    <span ng-hide="team.Name=='Rangers'">{{team.Name}}</span>
                  </td>
                  <td>{{team.Country.Name}}</td>
                  <td align="right">
                  <a ng-href="#/teams/edit/{{team.Id}}" type="button" class="btn btn-primary middle">Edit</a>
                      <button ng-click="vm.deleteTeam(team.Id)" type="button" class="btn btn-danger right">Delete</button>
                  </td>
              </tr>
            </tbody>
        </table>
</div>
