<form class="form-inline" ng-submit="vm.copyFilterAndRefreshChildList()">
  <div class="container-fluid form-group">
      <div class="form-group">
        <label>Show me:</label>
      </div>
      <div class="form-group">
        <label class="sr-only" for="country">Country:</label>
        <countryselect selectedcountry="vm.resultViewFilter.CountryId"></countryselect>
      </div>
        <div class="form-group">
          <label class="sr-only" for="season">Season:</label>
        <seasonselect selectedseason="vm.resultViewFilter.SeasonId" filtercountry="vm.resultViewFilter.CountryId" filterhavingleague='true'></seasonselect>
      </div>
        <div class="form-group">
          <label class="sr-only" for="league">League:</label>
        <leagueselect selectedleague="vm.resultViewFilter.LeagueId" filtercountry="vm.resultViewFilter.CountryId" filterseason="vm.resultViewFilter.SeasonId"></leagueselect>
      </div>
        <div class="form-group">
          <label> From : </label>
          <input class="form-control" type="date" ng-model="vm.resultViewFilter.DateFrom" />
        </div>
        <div class="form-group">
          <label> To :</label>
          <input class="form-control" type="date" ng-model="vm.resultViewFilter.DateTo" />
        </div>
        <div class="form-group" >
          <label class="sr-only" for="Update">Update</label>
          <input type="submit" class="btn btn-primary" value="Update" />
        </div>
  </div>
</form><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" >
        <latestresultviewshow filter="vm.resultViewFilter" parentvm="vm"></latestresultviewshow>
    </div>
    <div class="col-md-6" >
        <seasontableviewshow filter="vm.seasonTableFilter" parentvm="vm"></seasontableviewshow>
    </div>
  </div>
