<div class="info-page">
  <h2>General Info</h2>
    <p>The FIFA League executive committee consists of the following members:

    <ul>
      <li>Tony</li>
    </ul>

  <br>
  The Executive Committe retains the right to perform any or all of the following actions at its discretion, if a majority vote of the committee is attained:
  <ul>
    <li>The addition, removal or replacement of any committee members</li>
    <li>The addition, removal or replacement of League Rules</li>
    <li>The use of executive decisions overriding any or all cases pertaining to the FIFA league including but not limited to:
      <ul>
        <li>Overriding match scores</li>
        <li>Invalidating games</li>
        <li>Banning players</li>
        <li>Auto-winning</li>
        <li>Resolving disputes</li>
        <li>Punishment for cheek and backchat</li>
      </ul>
  </ul>
  <br>
  Note that by partaking in the FIFA League you agree to all the above conditions in every respect.
  </p>
  <h2>League Rules</h2>

  <h3>General Rules</h3>
  <ul>
    <li>League matches must be played using the assigned teams only.<br>
  Players cannot play ‘practice’ matches, friendlies or Ladder challenges with their assigned league teams, against an opponent in the same league, while the 2 players have outstanding league matches against each other to be played.</li>
</ul>

  <h3>Abandoned Matches</h3>
  <p>In the event of a match having to be abandoned the following guidelines can be used:

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
          <td><h4>Minutes played</h4></td>
          <td><h4>Goal Difference</h4></td>
          <td><h4>Action</h4></td>
        </tr>
  </thead>
  <tbody>
    <tr>
      <td>< 60</td>
      <td>N/A</td>
      <td>Replay</td>
    </tr>
    <tr>
      <td>60 - 80</td>
      <td>> 2</td>
      <td>Replay</td>
    </tr>
    <tr>
      <td>60 - 80</td>
      <td><= 2</td>
      <td>Score stands</td>
    </tr>
    <tr>
      <td>> 80</td>
      <td><= 1</td>
      <td>Replay</td>
    </tr>
    <tr>
      <td>> 80</td>
      <td>> 1</td>
      <td>Score stands</td>
    </tr>
  </tbody>
</table>
  <br>
  Note that these are guidelines and common sense should be used (e.g. 5-0 after 58 mins… unlikely that a comeback is on) to make the final decision, preferably where both players agree. In the event of a disagreement, The 'Executive Committee' will make the final decision.</p>

  <h3>Standings</h3>
  <p>A player’s league position will be based on the following criteria (with respect to another player):

<ol>
  <li>Points (3 for a win, 1 for a draw)</li>
  <li>Goal Difference</li>
  <li>Goals Scored</li>
  <li>Head to Head points</li>
  <li>Goal difference in head to head matches</li>
  <li>Goals scored in head to head matches</li>
  <li>Away goals in head to head matches</li>
  <li>One-off match, with extra time and penalties if required</li>
</ol>
<br>
  Where 3 or more players are tied and criteria 1 to 7 above can provide sufficient differentiation, such that 2 players are left tied, a one-off match will be played between those two players for the upper position. In the event that there can be no differentiation found between all players involved, lots will be drawn.</p>

<h3>Promotion/Relegation</h3>
<p>The changes in league structure make it difficult to set out exact rules for promotions and relegations. However, in general, the league will look to achieve the following:

<ol>
  <li>One promotion place</li>
  <li>One relegation place</li>
  <li>One play-off spot (second bottom of upper league, second top of lower league).</li>
</ol>

<br>
The play-off will be played as a one-off match, with extra time and penalties if required. The winner will be given a place in the upper league, the loser will be given a place in the lower league.</p>

<h2>Ladder Rules</h2>

<p>The FIFA ladder is a challenge based system, whereby two players play against each other with the winner moving up the ladder (or retaining position) and the loser moving down the ladder (or retaining position).<br>
<br>
Any player can challenge any other player on the ladder under the following criteria:

<ol>
  <li>There can be no more than three places between the two players, not including the challenger but including the challengee. For example, 5th can at most challenge 2nd.</li>
  <li>The challenger has played at least one other challenge match against a different player (either as challenger or challengee) since the last match against the desired challangee, or 3 full working days have passed since the previous challenge.</li>
</ol>
<br>

On the occasion(s) where ladder members are out of the office, they are excluded from the placings for the purpose item 1 above. The use of ‘out of office’ covers the following:
<ul>
  <li>On leave</li>
	<li>Off sick</li>
  <li>Working off site</li>
</ul>
and must be for a period of at least one full working day.

<br><br>
Challenges CANNOT be declined and must be played within 5 working days of the challenge being made. The 'out of office' criteria above applies to these working days.
<br>There may be valid reasons for not being able to meet this deadline and in these situations the challenge is voided. In the event that a challenge match is not played and there is no valid reason, the result will be given in the favour of the challenger.
<br><br>
While a player has a challenge match pending, they may not play another challenge match without the approval of the existing challenge opponent, unless they are the challenger and withdraw the challenge and notify the challengee first.
<br><br>
All challenges are made against a position on the ladder, not a player. This does allow for chaining of challenges, i.e. a player may challenge the winner (or loser) of another challenge match so long as the challenge meets items one and two above.
<br><br>
Challenge matches must have a winner and as such will go to extra time and penalties if necessary. However the challenger can choose not to do this if the game ends as a draw after 90 or 120 minutes.
<br><br>
Once a challenge match result is determined, the winner will take the higher of the two placings held by the two players involved and the loser will take the lower.
<br><br>
Any disputes or questions should be taken to the Executive Committee, who will have the final say in every case.</p>

</div>
