<div class="login">
    <h2>Login</h2>
    <hr />
    <form class="simple-form" ng-submit="vm.login()" ng-hide="vm.loginData.isAuth">
      <div class="clear"></div>
      <div class="alert alert-danger" role="alert" ng-repeat="value in vm.errors['item.Global']">{{value}}</div>
      <table>
        <tr>
            <td>Login </td>
            <td>
                <input type="text" ng-model="vm.loginData.userName" required />
                <div class="clear"></div>
                <div class="alert alert-danger" role="alert" ng-repeat="value in vm.errors['item.userName']">{{value}}</div>
            </td>
        </tr>
        <tr>
            <td>Password </td>
            <td>
                <input type="password" ng-model="vm.loginData.password" required />
                <div class="clear"></div>
                <div class="alert alert-danger" role="alert" ng-repeat="value in vm.errors['item.password']">{{value}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Login" /></td>
        </tr>
      </table>
    </form><br>
    <div ng-show="vm.loginData.isAuth">
        Welcome {{vm.loginData.userName}} !
    </div>
</div>
