<div cg-busy="vm.loadingPromise">
  <div class="grid-view">
    <div class="rubric-title">Season table</div>
    <div class="clear"></div>
    <div class="alert alert-danger" role="alert" ng-repeat="value in vm.errors['item.Global']">{{value}}</div>
    <accordion close-others="true" class="table-responsive">
        <accordion-group  ng-repeat="seasonTableView in vm.seasonTableViewList" ng-init="status.open = $first" is-open="status.open" class="accordion-panel">
            <accordion-heading>
              <div class="accordion-head">
                {{seasonTableView.Name}}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </div>
            </accordion-heading>
            <div ng-repeat="leagueTableView in seasonTableView.LeagueTables">
                  <table class="table table-multipletbody-striped table-bordered table-hover">
                      <thead>
                        <tr class="league-thead">
                            <th colspan="11">{{leagueTableView.Name}}
                            </th>
                        </tr>
                          <tr>
                              <th class="hidden-xs hidden-sm"></th>
                              <th>Pos</th>
                              <th>Team</th>
                              <th><span tooltip="Matches played">P</span></th>
                              <th class="hidden-xs"><span tooltip="Matches won">W</span></th>
                              <th class="hidden-xs"><span tooltip="Matches drawn">D</span></th>
                              <th class="hidden-xs"><span tooltip="Matches lost">L</span></th>
                              <th class="hidden-xs hidden-sm"><span tooltip="Goals Scored">GS</span></th>
                              <th class="hidden-xs hidden-sm"><span tooltip="Goals Conceded">GC</span>
                              </th>
                              <th><span tooltip="Goal difference">GD</span></th>
                              <th><span tooltip="Points">Pts</span></th>
                          </tr>
                      </thead>
                      <tbody ng-repeat="teamPlayer in leagueTableView.TeamPlayers">
                          <tr ng-click="vm.showTeamPlayerStatistic(teamPlayer)" class="clickable" ng-class="vm.getClsForTeamRow($index, leagueTableView, $parent.$index, seasonTableView);">
                              <td class="hidden-xs hidden-sm">
                              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': teamPlayer.show, 'glyphicon-chevron-right': !teamPlayer.show}"></i>
                              </td>
                              <td>{{teamPlayer.position}}</td>
                              <td>{{teamPlayer.player.Name}} (<a ng-click="$event.stopPropagation()" ng-href="http://sofifa.com/teams?keyword={{teamPlayer.team.Name}}" target="_blank">{{teamPlayer.team.Name}}</a>)</td>
                              <td>{{teamPlayer.nbPlayedMatches}}</td>
                              <td class="hidden-xs">{{teamPlayer.nbWin}}</td>
                              <td class="hidden-xs">{{teamPlayer.nbDraw}}</td>
                              <td class="hidden-xs">{{teamPlayer.nbLost}}</td>
                              <td class="hidden-xs hidden-sm">{{teamPlayer.nbGoalsFor}}</td>
                              <td class="hidden-xs hidden-sm">{{teamPlayer.nbGoalsAgainst}}</th>
                              <td>{{teamPlayer.nbGoalsDiff}}</td>
                              <td>{{teamPlayer.nbPoints}}</td>
                          </tr>

                          <tr ng-show="teamPlayer.show">
                            <td colspan="11">
                              <teamplayerstatisticviewshow seasonid="seasonTableView.Id" teamplayerid="teamPlayer.Id" show="teamPlayer.show"></teamplayerstatisticviewshow>
                            </td>
                          </tr>
                      </tbody>
                  </table>
            </div>
          </div>
        </accordion-group>
    </accordion>
    <div ng-show="vm.seasonTableViewList.length==0">
      <h2>No season</h2>
    </div>
</div>
