<div class="gridview" ng-init="vm.fillCountries()" collapse="!vm.showListForm">
    <h2>Countries</h2>
    <a href="#/countries" ng-click="vm.showCreateCountry()" type="button" class="btn btn-primary right">Add Country</a>
    <ul class="error">
        <li ng-repeat="value in vm.errors['item.Global']">{{value}}</li>
    </ul>
    <table class="table table-striped table-bordered">
        <thead>
          <tr>
              <th>Name</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="country in vm.countries">
              <td>{{country.Name}}</td>
              <td>
                <a href="#/countries" ng-click="vm.showEditCountry(country.Id)">Edit</a>
                <a href="#/countries" ng-click="vm.deleteCountryInstance(country.Id)">Delete</a>
              </td>
          </tr>
        </tbody>
    </table>
</div>
<div collapse="!vm.showCreateForm">
    <h2>Add Country</h2>
    <hr />
    <form class="simple-form" ng-submit="vm.addCountry()">
        <div ng-include="'./views/partials/country-form.html'"></div>
        <input type="submit" class="btn btn-primary" value="Save" />
        <input type="button" class="btn" value="Cancel" ng-click="vm.showList()" />
    </form>
</div>
<div collapse="!vm.showEditForm">
    <h2>Edit Country</h2>
    <hr />
    <form class="simple-form" ng-submit="vm.updateCountry()">
        <div ng-include="'./views/partials/country-form.html'"></div>
        <input type="submit" class="btn btn-primary" value="Save" />
        <input type="button" class="btn" value="Cancel" ng-click="vm.showList()" />
    </form>
</div>
