<div class="gridview" ng-init="vm.getUserList()" cg-busy="vm.loadingPromise">
    <h2>Users</h2>
    <a href="#/users/add" class="btn btn-primary right">Add User</a>
    <div class="clear"></div>
    <div class="alert alert-danger" role="alert" ng-repeat="value in vm.errors['item.Global']">{{value}}</div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in vm.users">
                <td>{{user.Name}}</td>
                <td align="right">
                    <a ng-href="#/users/edit/{{user.Id}}" type="button" class="btn btn-primary middle btn-custom">Edit</a>
                    <button ng-click="vm.deleteUser(user.Id)" type="button" class="btn btn-danger right btn-custom">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
