<form class="simple-form" ng-submit="vm.updatePlayer()" cg-busy="vm.loadingPromise">
  <div class="clear"></div>
  <div class="alert alert-danger" role="alert" ng-repeat="value in vm.errors['item.Global']">{{value}}</div>
  <div ng-include="'views/player/player-form.html'"></div>
  <input type="checkbox" ng-model="vm.player.Archived" /><label class="checkbox">Archived</label>
  <div class="clear"></div>
  <div class="alert alert-danger" role="alert" ng-repeat="value in vm.errors['item.Archived']">{{value}}</div>
  <input type="submit" class="btn btn-primary" value="Save" />
  <input type="button" class="btn btn-danger btn-custom" value="Cancel" ng-click="vm.goBack()" />
</form>
<h2>Goals difference chart</h2>
<teamplayerchartview playerid="vm.player.Id" show="vm.showChart" height="300"></teamplayerchartview>
